body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f9fc;
  color: #333;
}
h1{
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}

.sort-buttons {
  margin: 20px 0;
  text-align: center;
}

.sort-buttons a {
  margin-right: 15px;
  color: #007BFF;
  text-decoration: none;
  text-align: center;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.book-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

.edit-btn, .delete-btn {
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  text-align:right;  
  width: auto; 
}

.delete-btn {
  background-color: #dc3545;
  
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  text-align:left;  /* Aligns the text inside the button to the left */
  width: auto; 
}

